<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2 text-center">
        <p>I am a consistent person in my work and studies, who has no problems working in a group. I like to consider myself an educated and friendly person. Always willing to learn and improve. I take my obligations seriously but I like to carry them out with joy. Working on personal projects.</p>
      </div>
    </div>
  </div>
</section>